.sidebarRow{
    display: flex;
    align-items: center;
    margin-top: 10px;
    padding: 10px 20px;
}
.sidebar-icon{
    color: rgb(53, 51, 51);
    font-size: 20px;
}
.sidebar-title{
    color: rgb(44, 43, 43);
    
    font-family: "Roboto","Arial",sans-serif;
    font-size: 16px;
     font-weight: 400; 
    margin-left: 14px;
    

}
.sidebarRow:hover{
    background-color: #eee;
    cursor: pointer;
}

.sidebarRow:hover > .sidebar-title{
    font-weight: bold;
}
.sidebarRow.selected{
    background-color: #fff;
}
.sidebarRow.selected > .sidebar-icon{
    color: rgb(45, 21, 21);
}